<div class="container">
  <h1>Naturalist's Guide to National Parks</h1>
  <h2>History</h2>
  <h3 style="margin-top: 50px">Theodore Roosevelt</h3>
  <div style="display: flex; flex-direction: row">
    <p style="max-width: 50%">
      Theodore Roosevelt, often called "the conservation president," impacted
      the National Park System well beyond his term in office. He doubled the
      number of sites within the National Park system. As President from 1901 to
      1909, he signed legislation establishing five new national parks: Crater
      Lake, Oregon; Wind Cave, South Dakota; Sullys Hill, North Dakota (later
      re-designated a game preserve); Mesa Verde, Colorado; and Platt, Oklahoma
      (now part of Chickasaw National Recreation Area). However another
      Roosevelt enactment had a broader effect: the Antiquities Act of June 8,
      1906. The Antiquities Act enabled President Roosevelt and succeeding
      Presidents to proclaim historic landmarks, historic or prehistoric
      structures, and other objects of historic or scientific interest in
      federal ownership as national monuments. Roosevelt did not hesitate to
      take advantage of this new executive authority. By the end of 1906 he had
      proclaimed four national monuments: On September 24 he proclaimed Devils
      Tower (Wyoming). On December 8, he proclaimed El Morro (New Mexico),
      Montezuma Castle (Arizona), and Petrified Forest (Arizona). Additionally,
      he interpreted the authority expansively, protecting a large portion of
      the Grand Canyon (Arizona) as a national monument in 1908. By the end of
      his term he had reserved six predominantly cultural areas and twelve
      predominantly natural areas in this manner. Half of the total land area
      was initially administered by the Agriculture Department and was later
      transferred to Interior Department jurisdiction, since the National Park
      Service would not be created until 1916. Later Presidents have used the
      Antiquities Act to declare national monuments. For example, In 2018, the
      President used the authority of the Antiquties Act to create Camp Nelson
      National Monument. Many national monuments remain, while others have been
      enlarged into national parks or otherwise reclassified by Congress.
      Recalling his legacy, Theodore Roosevelt is now commemorated at six units
      of the National Park System. Theodore Roosevelt Birthplace National
      Historic Site in New York City, Sagamore Hill National Historic Site in
      Oyster Bay, New York, Theodore Roosevelt Inaugural National Historic Site
      in Buffalo, New York, Theodore Roosevelt National Park in North Dakota,
      and Theodore Roosevelt Island in Washington, DC, all trace his career and
      memorialize his contributions to America. Additionally, Theodore Roosevelt
      is one of four Presidents gracing Mount Rushmore National Memorial in
      South Dakota. The National Park Service is honored to administer these
      park sites, and the many others Roosevelt made possible during his storied
      career as a conservationist. (NPS)
    </p>
    <div style="display: flex; flex-direction: column; align-items: center">
      <img
        src="assets/Images/teddy.png"
        style="max-width: 100%; align-self: baseline"
      />
      <h6>Theodore (Teddy) Roosevelt</h6>
    </div>
  </div>

  <h3 style="margin-top: 50px">John Muir</h3>
  <p>
    As early as 1876, Muir urged the federal government to adopt a forest
    conservation policy. He became a central figure in the debate over land use,
    advocating on behalf of land preservation primarily through articles
    published in popular periodicals, such as Atlantic Monthly, The Century
    Magazine, and Harper’s New Monthly Magazine (now Harper’s Magazine).
    Although initially finding common ground in the ideas of forest protection
    put forth by Gifford Pinchot, a pioneer of U.S. forestry and conservation,
    Muir’s views ultimately diverged. Whereas Pinchot supported the sustainable
    use of resources within national forests, Muir believed that national parks
    and forests should be preserved in their entirety, meaning that their
    resources should be rendered off-limits to industrial interests. Although
    Sequoia and Yosemite national parks were established in 1890, representing a
    victory for environmental protection, the debate between Pinchot’s
    utilitarian approach to forestry and Muir’s preservationist approach was far
    from over. (Britannica)
  </p>
  <div style="display: flex; flex-direction: column; align-items: center; margin-bottom: 50px;;">
    <img
      src="assets/Images/muirsig.png"
      style="max-width: 100%; align-self: baseline"
    />
  </div>
</div>
