<div class="container">
    <h1>Resources</h1>
    <p>
        <a href="https://www.nps.gov/thrb/learn/historyculture/trandthenpsystem.htm" target="_blank">Theodore Roosevelt</a>
    </p>
    <p>
        <a href="https://www.britannica.com/biography/John-Muir" target="_blank">John Muir</a>
    </p>
    <p>
        <a href="https://www.kaggle.com/nationalparkservice/park-biodiversity" target="_blank">National Parks Biodiversoty Data</a>
    </p>
    <p>
        <a href="https://www.kaggle.com/planejane/national-park-trails" target="_blank">National Parks Trails Data</a>
    </p>
</div>